<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Article</h1>
	</div>
	<div class="row">
		<div class="col-md-8">
			<form name="articleForm" class="form-horizontal" data-ng-submit="update(articleForm.$valid)" novalidate>
				<fieldset>
					<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.title.$invalid}">
						<label class="control-label" for="title">Title</label>
						<div class="controls">
							<input name="title" type="text" data-ng-maxlength="120" data-ng-model="article.title" id="title" class="form-control" placeholder="Title" required>
						</div>
						<small ng-show="articleForm.title.$error.maxlength">Title is too long</small>
						<div ng-show="submitted && articleForm.title.$invalid" class="help-block">
							<p ng-show="articleForm.title.$error.required" class="text-danger">Title is required</p>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid}">
						<label class="control-label" for="content">Content</label>
						<div class="controls">
							<textarea name="content" data-ng-model="article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
						</div>
						<div ng-show="submitted && articleForm.content.$invalid" class="help-block">
							<p ng-show="articleForm.content.$error.required" class="text-danger">Content is required</p>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" ng-disabled="articleForm.title.$error.maxlength" value="Update" class="btn btn-default">
					</div>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="col-sm-4">
			<h4>Choose Fields of Research</h4>
			<div class="checkbox">
			  <label><input type="checkbox" ng-click="updateCategories($event)" value="Sociology">Sociology</label>
			</div>
			<div class="checkbox">
			  <label><input type="checkbox" ng-click="updateCategories($event)" value="Science">Science</label>
			</div>
			<div class="checkbox">
			  <label><input type="checkbox" ng-click="updateCategories($event)" value="Biology">Biology</label>
			</div>
			<div class="checkbox">
			  <label><input type="checkbox" ng-click="updateCategories($event)" value="Chemistry">Chemistry</label>
			</div>
			<div class="checkbox">
			  <label><input type="checkbox" ng-click="updateCategories($event)" value="Artificial Intelligence">Artificial Intelligence</label>
			</div>
		</div>
	</div>
</section>